@media (max-width: 499px) {
    .table {
        width: 100%;
    }
    .text1 {
        font-size: .7rem;
    }
    #textbig {
        font-size: 1.5rem;
    }
}

@media (min-width: 500px) {
    .text1 {
        font-size: 1.5rem;
    }
}

.hero-image {
        background-image: url("nebula.jpg"); /* The image used */
        background-color: #092d68; /* Used if the image is unavailable */
        height: 100%; /* You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    }

body {
    font-size: 1rem;
}

h1 {
    color: white;
    text-align: center;
}